<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>新增/编辑客户端</title>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
  <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
    $(function () {
      $('.glyphicon-question-sign').tooltip();
    });
  </script>
</head>
<body>
<div class="container">
  <h1 th:if="!${param.client}" class="page-header">新增客户端</h1>

  <h1 th:if="${param.client}" class="page-header">编辑客户端 <span th:text="${param.client[0]}"></span>
  </h1>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div th:if="${param.client}" class="alert alert-warning">编辑客户端会删除所有用户的批准和有效的令牌</div>
      <form th:action="'/clients/edit'" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <!-- signalize new client -->
        <input type="hidden" th:if="!${param.client}" name="newClient" value="true"/>

        <div class="col-md-4">
          <div class="form-group">
            <label for="clientId">客户端 ID</label>
            <input class="form-control" id="clientId" type="text" name="clientId"
                   th:value="${clientDetails.clientId}"/>
          </div>
          <div class="form-group">
            <label for="clientSecret">客户端密文
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="必填项。在授权码、客户端密文和刷新令牌三种授权类型中必须使用"></span>
            </label>
            <input class="form-control" id="clientSecret" type="password" name="clientSecret"/>
          </div>
          <div class="form-group">
            <label for="registeredRedirectUri">重定向 URI 集合
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="在授权请求中只会调用此处定义的重定向 URI，对于要防止伪造客户端得到令牌非常重要，用于隐式、授权码和刷新令牌三种授权方式中。使用逗号分隔多个 URI 。"></span>
            </label>
            <input class="form-control" id="registeredRedirectUri" name="registeredRedirectUri"
                   type="text"
                   th:value="${clientDetails.registeredRedirectUri} ? ${#strings.setJoin(clientDetails.registeredRedirectUri, ',')} : ''"/>
          </div>
          <div class="form-group">
            <label for="accessTokenValiditySeconds">访问令牌有效期
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="以秒为单位的有效期"></span>
            </label>
            <input class="form-control" id="accessTokenValiditySeconds"
                   name="accessTokenValiditySeconds" type="text"
                   th:value="${clientDetails.accessTokenValiditySeconds}"/>
          </div>
          <div class="form-group">
            <label for="refreshTokenValiditySeconds">刷新令牌有效期
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="以秒为单位的有效期"></span>
            </label>
            <input class="form-control" id="refreshTokenValiditySeconds"
                   name="refreshTokenValiditySeconds" type="text"
                   th:value="${clientDetails.refreshTokenValiditySeconds}"/>
          </div>
          <button type="submit" class="btn btn-primary">提交</button>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="form-group">
            <label for="resourceIds">资源 ID 集合
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="定义该客户端可以访问的资源列表，使用逗号分隔多个条目"></span>
            </label>
            <input class="form-control" id="resourceIds" type="text" name="resourceIds"
                   th:value="${#strings.setJoin(clientDetails.resourceIds, ',')}"/>
          </div>
          <div class="form-group">
            <label for="scopes">作用范围
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="定义该客户端可以访问的范围，如果是隐式或授权码授权方式，用户可以选择授权范围，使用逗号分隔多个条目。"></span>
            </label>
            <input class="form-control" id="scopes" type="text" name="scope"
                   th:value="${#strings.setJoin(clientDetails.scope, ',')}"/>
          </div>
          <div class="form-group">
            <label for="authorities">授权角色
              <span data-toggle="tooltip" data-placement="bottom"
                    class="glyphicon glyphicon-question-sign"
                    title="客户端的角色列表，使用逗号分隔多个条目"></span>
            </label>
            <input class="form-control" id="authorities" type="text" name="authorities"
                   th:value="${#strings.setJoin(clientDetails.authorities, ',')}"/>
          </div>
        </div>

        <div class="col-xs-12 col-md-5">
          <label>授权类型
            <span data-toggle="tooltip" data-placement="bottom"
                  class="glyphicon glyphicon-question-sign"
                  title="如果什么都不选，默认会使用授权码和刷新令牌"></span>
          </label>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  描述
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <li><b>客户端密文</b>

                    <p>注意，此种方式仅适合信任的客户端，因为在这种授权方式中，客户端可以在提供客户端 Id 和客户端密文，但无需用户授权的情况下得到访问令牌，
                      这种授权方式必须提供客户端密文和客户端 Id 。管理员可以指定客户端在资源服务器上的角色列表。</p>

                    <p>例子：一个信任的客户端每隔一段时间获取某一资源服务器的数据，这个数据一般是需要该资源服务器的管理员权限才能获取的。</p>
                  </li>
                  <li><b>隐式</b>

                    <p>在用户授权后，客户端会立即得到令牌。此种模式下的客户端应该被限制在一定作用范围之内。</p>

                    <p>例子：客户端使用类似 /oauth/authorize?client_id=$clientId&amp;response_type=token&amp;redirect_uri=$uri
                      这样的 URL 得到授权码。
                      在用户授权客户端后， OAuth 2 服务器会返回一个重定向到 $uri ，在这个重定向请求中，参数中会携带 hash 后的 token 。</p>
                  </li>
                  <li><b>授权码</b>

                    <p>用户在客户端首次访问时进行客户端授权，OAuth 2 服务返回一个授权码，客户端利用这个授权码访问 token 获取的 API
                      得到令牌。此种授权方式也是仅应用于信任的客户端，客户端还需要存储获得的 token 。</p>

                    <p>例子：客户端访问 the /oauth/authorize?client_id=$clientId&amp;response_type=code&amp;redirect_uri=$uri
                      得到授权码。然后在用户授权客户端之后，OAuth 2 服务器会重定向到 $uri ，该请求中会携带授权码。</p>

                    <p>得到的授权码可以在客户端访问令牌获取的 API 时作为参数传递 /oauth/token?code=$code&amp;grant_type=authorization_code
                      ，这样就可以得到令牌了。这种授权方式要求客户端进行一个 HTTP 基础鉴权，该鉴权一般要求客户端 ID 作为用户名，而客户端密文作为密码 </p>
                  </li>
                  <li><b>刷新令牌</b></li>
                  <li><b>密码</b>

                    <p>这种授权方式要求用户提供诸如用户名、密码的鉴权方式，适合移动端 App 或者前端 App</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="authorizedGrantTypes" value="client_credentials"
                     th:field="*{clientDetails.authorizedGrantTypes}"/>
              客户端密文
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="authorizedGrantTypes" value="implicit"
                     th:field="*{clientDetails.authorizedGrantTypes}"/>
              隐式
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="authorizedGrantTypes" value="authorization_code"
                     th:field="*{clientDetails.authorizedGrantTypes}"/>
              授权码
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="authorizedGrantTypes" value="refresh_token"
                     th:field="*{clientDetails.authorizedGrantTypes}"/>
              刷新令牌
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="authorizedGrantTypes" value="password"
                     th:field="*{clientDetails.authorizedGrantTypes}"/>
              密码
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
